/* reset */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    background-image: url('../img/cover.jpg');
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
}

/* books header */
.list-books-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px 0;
    font-family: 'Pacifico', cursive;
    font-size: 1.05em;
    letter-spacing: 3px;
    color: #9244ff;
    background: #fff;
}

.list-books h1 {
    margin: 12px 0;
}

.list-books-header img {
    margin: 0 0 0 14px;
    height: 40px;
}

/* books area */
.list-books-content {
    max-width: 1200px;
    margin: auto;
    flex: 1;
}

.bookshelf {
    padding-bottom: 35px;
}

.bookshelf-title {
    display: inline-block;
    margin: 20px 0;
    padding: 8px 15px;
    border-radius: 20px;
    font-family: 'Pacifico', cursive;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 3px;
    color: white;
    background: #9244ff;
}

.bookshelf-books {
    border-radius: 20px;
    padding: 20px 0;
    background: #fff;
    text-align: center;
    box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.37);
}

.books-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.books-grid li {
    padding: 10px 15px;
    text-align: left;
}

.book {
    width: 140px;
}

.book-cover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #eee;
}

.book-title,
.book-authors {
    font-size: 0.8em;
}

.book-title {
    font-weight: 600;
    margin-top: 10px;
}

.book-authors {
    color: #828282;
}

.book-top {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 200px;
}

/* shelf changer */
.book-shelf-changer {
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #181818;
    background-image: url('../img/arrow-drop-down.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.book-shelf-changer:hover {
    background-color: #474747;
    background-image: url('../img/arrow-drop-down.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

.book-shelf-changer select {
    width: 100%;
    height: 100%;
    margin: 5px;
    opacity: 0;
    cursor: pointer;
    background: rgb(24, 24, 24);
    color: white;
}

/* search */
.open-search a {
    position: fixed;
    right: 30px;
    bottom: 35px;
    display: block;
    width: 56px;
    height: 56px;
    margin: 10px 0;
    border-radius: 50%;
    background-color: #9244ffe1;
    background-image: url('../img/add.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 0 6px rgba(0, 0, 0, 0.23);
    font-size: 0;
    outline: 0;
}

.open-search a:hover {
    background-color: #a768ffe1;
}

.search-books {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.search-books-bar {
    position: fixed;
    z-index: 5;
    width: 100%;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-books-bar input {
    flex: 1 1 0;
    margin: 0 100px 0 0;
    padding: 10px 10px;
    font-size: 1.2em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 0 rgba(0, 0, 0, 0.23);
    border: none;
    outline: none;
}

.close-search {
    display: inline-block;
    flex: 0 0 42px;
    height: 43px;
    margin: 0 0 0 100px;
    background-image: url('../img/arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-size: 16px;
    background-color: #9244ff;
    color: #fff;
    font-size: 0;
    border: none;
    outline: none;
}

.close-search:hover {
    background-color: #a768ff;
}

.search-books-results {
    position: relative;
    top: 130px;
    max-width: 1200px;
    margin: auto;
    box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    background: rgb(255, 255, 255);
}

.search-terms {
    max-width: 900px;
    padding: 20px 20px;
    text-align: justify;
}

.search-terms-head {
    font-weight: 600;
}

.search-terms-content {
    font-style: italic;
}

/* footer */
.footer {
    padding: 30px 0;
    text-align: center;
    color: #964ffa;
}

.footer > span {
    color: #ec3056;
}

/* responsiveness */
@media screen and (max-width: 1300px) {
    .list-books-content,
    .search-books-results {
        max-width: 900px;
    }
}

@media screen and (max-width: 1024px) {
    .list-books-content,
    .search-books-results {
        max-width: 600px;
    }
}

@media screen and (max-width: 736px) {
    .list-books-content,
    .search-books-results {
        max-width: 400px;
    }
}

@media screen and (max-width: 480px) {
    .list-books-content,
    .search-books-results {
        max-width: 340px;
    }
}

@media screen and (max-width: 320px) {
    .list-books-content,
    .search-books-results {
        max-width: 250px;
    }
}
